<%- include('partials/header') %>
<main>
    <h1>Hi, I'm Alayna Hart!</h1>
    <p>I am a web design and development major minoring in computer programming.</p>
    <p>I love front-end web design and UX/UI design but I am excited to learn more about backend development.</p>
    <img src="<%= imageUrl %>" alt="Hampter">
</main>
<%- include('partials/footer') %>